<!-- app/views/static_pages/password_sent.html.erb -->
<h1>Password Reset Instructions Sent</h1>
<p>If an account with that email exists, you will receive an email with password reset instructions shortly.</p>
<%= link_to 'Sign In', new_admin_user_session_path %>